<div>
    <div class="username">{{feedback.username}} </div>
    <div class="place"> {{feedback.place}}</div>
    <div class="date">{{feedback.date}}</div>
    <div class="feedbacktext">{{feedback.text}}</div>
</div>