<div class="feedback__wrap">
    <div class="feedback__container">
        <div class="username">{{feedback.username}} </div>
        <div class="place"> {{feedback.place}}</div>
        <div class="date">{{feedback.date}}</div>
    </div>
    <div class="feedbacktext">{{feedback.text}}</div>
</div>